NODE_ENV=development
MOODLE_URL=https://apnp.ifsul.edu.br
MOODLE_TOKEN=<your_moodle_token_here>
SUAP_USERNAME=<your_suap_username_here>
SUAP_PASSWORD=<your_suap_password_here>
CHAT_ASSIST_API_KEY=<your_chat_assist_api_key_here>
MAX_CONCURRENT_JOBS=1